<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Jwt:Issuer" value="GestifyApi" />
		<add key="Jwt:Key" value="eyJhbGciOiJIUzI1NiJ9.eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4cCI6MTcxODE5NDM3OCwiaWF0IjoxNzE4MTk0Mzc4fQ.ECGdpcCFRp_JxwE4AvlCmDeHbQqhpmrsi6SYA3OC8Qk" />
		<add key="ConnectionStrings:DefaultConnection" value="Server=MYSQL8010.site4now.net;Database=db_aa9d99_gestify;Uid=aa9d99_gestify;Pwd=ArGZb5a59eqBX" />
	</appSettings>
	<system.webServer>
		<handlers>
			<remove name="aspNetCore"/>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
		</handlers>
		<aspNetCore processPath="dotnet" arguments=".\GestifyApi.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
			</environmentVariables>
		</aspNetCore>
	</system.webServer>
</configuration>
